// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.post-tag-remove {
  font-size: 1.2rem;
  font-style: italic;
}

.header-login {
  margin-top: 15px;
}

.picture_profile {
  height: 100px;
  width: 100px;
}